.recent_ad_activity_icon {
    background-image: url("recent_ad_activity.png");
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px
}

.recent_ad_activity_color {
    background-color: #ff8533
}

.ad_library_color {
    background-color: #668cff
}

.custom_content_text {
    padding: 10px;
    color: #929598;
    font-size: 14px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
}

#custom_content_list_div {
    padding: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #929598;
    font-size: 20px;
}

#custom_content_list {
    list-style-type: disc;
    list-style-position: inside
}

.custom_content_interests_final_message {
    padding: 10px;
    font-size: 16px;
    color:#888888;
}

.custom_content_interests_final_message:hover {
    color:#222222;
    text-decoration: underline;
    cursor: pointer;
}

