.settings_icon {
    background-image: url("icon.png");
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px
}

.settings_icon.settings_icon_subclass {
    width: 20px;
    height: 20px;
}

.data_policy_icon {
    background-image: url("data_privacy_icon.jpeg");
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px
}

.data_policy_icon.data_policy_icon_subclass {
    width: 20px;
    height: 20px;
}

.tutorial_educational_videos {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    overflow: auto;
    background-color: rgba(180,180,180,0.4);
}

.tutorial_educational_content {
    background-color: #fcfcfc;
    margin: 10% auto;
    padding: 25px;
    border: 2px solid #000000;
    overflow: auto;
    width: 60%;
    height: 60%;
}

.tutorial_educational_content > h2 {
    font-size:large;
}

.tutorial_educational_content > h3 {
    font-size:medium;
    margin-left:5px;
    margin-top:20px;
}

.close_modal {
    float: right;
    font-weight: bold;
    color: #969696;
    font-size: 30px;
}

.close_modal:hover,
.close_modal:focus {
    cursor: pointer;
    color: #000000;
}

.ad-feedback {
    border-top: 1px solid #dadde1;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    padding: 10px;
}

.ad-feedback-text {
    color: #606770;
    font-size: 1.2em;
    display: inline-block;
}

#ad-thank-you-message {
    display: none;
}

#ad-feedback-item-left {
    margin-left: 3%;
}

#ad-feedback-item-right {
    margin-left: 1%;
}

.ad-feedback-item {
    display: inline-block;
    background-color: #e9ebee;
    border-radius: 20%;
    padding: 0.5% 1%;
}

.ad-feedback-item:hover {
    cursor: pointer;
    background-color: #a0a0a0;
}

